body {
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.carousel-control-prev {
  margin: auto;
  height: 300px;
  width: 300px;
}
.carousel-control-next {
  margin: auto;
  height: 300px;
  width: 300px;
}
.carousel .carousel-control-prev-icon {
  visibility: hidden;
}
.carousel:hover .carousel-control-prev-icon {
  visibility: visible;
}
.carousel .carousel-control-next-icon {
  visibility: hidden;
}
.carousel:hover .carousel-control-next-icon {
  visibility: visible;
}
.carousel-caption {
  top: 45%;
  bottom: auto;
}
